body{
  margin:0;
}

.header{
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color:#666666;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
}
.header-img{
  width:148px;
}
.header-nav{
  display:inline-flex;
  flex-direction:row;
  position:absolute;
  left:80%;
  right:0%;
  top:0%;
}

.item{
  margin:7px;
}
.header-nav-img{
  width:25px;
  height:20px;
}

main{
  display:block;
}
.mainC {
  padding-top: 80px;
}

.main-top{
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.main-top-text{
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #eff2f5;
  border-radius: 24px;
  display: inline-block;
  padding: 50px 62px;
  position: relative;
  white-space: nowrap;
  width:500px;
  left:80px;
}

.main-top-text-sub{
  color: #0071bc;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
}

.main-top-text-title{
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.3333;
  margin-top: 10px;
}

.main-top-img{
  border-radius: 80px 0px 0px 80px;
  display: block;
  width: 976px;
  height:680px;
  right:0px;
}

.main-top-scroll{
  align-items: center;
  bottom: 24px;
  display: inline-flex;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 14px;
  gap: 6px;
  left: 126px;
  line-height: 1.5;
  position: absolute;
}

.main-top-scroll::before{
  background-color: #ccc;
  border-radius: 8px;
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
}

.main-content{
  margin-top: 96px;
}
.about{
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 24px;
  width: 100%;
}

.about-head{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: center;
}

.about-head-sub{
  color: #0071bc;
  display: block;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 14px;
  letter-spacing: initial;
  line-height: 1.8;
  margin-top: 8px;
  text-align: center;
}

.about-head-title{
  text-align: center;
  font-size:36px;
  font-weight:1.5;
  letter-spacing:0.05em;
}

.about-body{
  -ms-grid-columns: (1fr)[2];
  display: -ms-grid;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 42px;
}

.about-body-img{
  border-radius: 16px;
  overflow: hidden;
}

.about-body-text{
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  line-height: 1.8;
}



.contact{
  margin-top: 144px;
}

.contact-body{
  background: url(../img/bg-line.jpg) center center/cover;
  border-radius: 56px;
  overflow: hidden;
  padding: 68px;
  position: relative;
}

.contact-body::before{
  background-color: rgba(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.contact-body-inner{
  position: relative;
}

.contact-body-title{
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-size: 36px;
  height:65px;
  left:350px;
  color:#fff;
  z-index: 10;
  position:absolute;

}

.contact-body-text{
  color: #eee;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-body-line-button{
  text-align:center;
}

.contact-body-button{
  margin-top: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.8;
  max-width: 320px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.line-icon-link{
  font-size:36px;
}

.line-icon-link::before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
}

.l-footer{
  border-top: solid 1px #eee;
  margin-top: 80px;
  text-align: center;
}

.footer-inner{
  padding:56px 24px 48px;
}

.footer-siteinfo{
  text-align: center;
}
.footer-siteinfo-logo{
  display:block;
  text-align: center;
}

.footer-siteinfo-link{
  color: #666;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 24px;
}

.footer-sns-list{
  display:flex;
  gap: 8px;
  justify-content: center;
  margin-top: 32px;
}

.footer-sub{
  border-top:solid 1px #eee;
  color:#666;
  font-family:"Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  padding: 38px 24px 33px;
}


.footer-container{
  bottom: 16px;
  position: fixed;
  right: 16px;
  font-size:36px;
}


.footer-line{
  align-items: center;
  background-color: #5FDF5B;
  border-radius: 16px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 22px 20px 22px 24px;
  font-size: 36px;
}


.footer-line-text{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.14em;
  line-height: 1.3;
  margin-left: 13px;
  text-align: left;
}


.line-icon-link{
  font-size:36px;
}

.line-icon-link::before{
  background: radial-gradient(#fff 60%, transparent 60%);
  color: #00c300;
  content: "\e900";
}

.icon-link{
  color: #fff;
  font-size: 18px;
  margin-left: 35px;
}

.icon-link:before{
  content:"\e901";
}

.icon-instagram:before{
  content:"\e900";
}

.icon-twitter:before{
  content:"\ea96";
}
